<html>
<head>
<title>PhotoStack</title>
<link rel="shortcut icon" href="https://thestacker.com/sites/default/files/favicon_0.ico" type="image/vnd.microsoft.icon">
<style type="text/css">
body{font-family: 'Fontawesome','Overpass',sans-serif,arial;}
</style>
</head>

<body>
<h1>Stacker</h1>

<h3>Story HTML Generator:</h3>
<form action="/storyHTML" method="POST">
	<input type="text" name="enterID" placeholder="Enter story ID" id="idInput">
	<input type="submit" value="Submit"><br>
	<input type="checkbox" id="noImages" name="noImages" value="No images">No images
</form>

<p>
    Story IDs can be found in the URL<br>
    Ex. https://thestacker.com/stories/<b>3881</b>/cost-gold-year-you-were-born
</p>

<p>Visit our sitemap to explore our content:
<ul>
    <li><a href="https://thestacker.com/sitemap/entertainment">Entertainment</a></li>
    <li><a href="https://thestacker.com/sitemap/lifestyle">Lifestyle<a/></li>
    <li><a href="https://thestacker.com/sitemap/money">Money</a></li>
    <li><a href="https://thestacker.com/sitemap/science%20%26%20health">Science & Health<a/></li>
    <li><a href="https://thestacker.com/sitemap/sports">Sports</a></li>
    <li><a href="https://thestacker.com/sitemap/news">News</a></li>
    <li><a href="https://thestacker.com/sitemap/travel">Travel</a></li>
</ul>
</p>

</body>
</html>
