<!DOCTYPE html>
<html>
<head>
<title>PhotoStack</title>
<style type="text/css">
body{font-family: 'Fontawesome','Overpass',sans-serif,arial;}
h1, h2, h3 {
	padding: 0px;
	margin: 10px;
}
#urlInput {
	margin-right: 105px;
}
</style>
</head>
<body>
	<h1>PhotoStack</h1>

	<h2>Image Editing</h2>
	<h3>CSV:</h3>
	<form action="/csvRead" method="POST" enctype="multipart/form-data">
		<input type="file" name="pic">
		<input type="submit">
	</form>
	<h3>Single File:</h3>
	<form action="/urlRead" method="POST">
		<input type="text" name="enterUrl" placeholder="Enter URL" id="urlInput">
		<input type="submit" value="Submit">
	</form>
	<p>
		The Image Editor allows users to upload a list of image URLs and automatically apply edits to fit Stacker's image format.<br><br>

		To edit a list of images URLs:<br>
        <li>1. Click "Choose FIle" and select a CSV with list of images in the first column. The first cell can be a header (it gets skipped). Here's a link to an example image CSV.</li>
        <li>2. Click "Submit"</li>
        <li>2. The Image Editor will take each image URL and produce two 1080(W) x 770(H) image formats:</li>
            <li> (a) one scaled to fit the full image in the frame, adding blurred padding where necessary</li>
            <li>(b) one scaled to fill the entire frame with the image, cropping the picture where necessary</li>
        <li>3. The Image Editor defaults to producing a list of the URLs in format A (blurred padding added). To select another format for an image, click the image preview (the selected image will highlight in blue).</li>
            <li>4. When you're satisfied with the images, copy and paste the list of image URLs at the top of the results page</li><br>

		* Any missing images or image URLs not in the correct format will produce an "Error" message for that image.<br>
	</p>
	<img src="https://s3.amazonaws.com/stacker-images/Dam_Panorama_FB.jpg" width="350px">
	<img src="https://s3.amazonaws.com/stacker-images/croppedDam_Panorama_FB.jpg" width="350px">

	<br>
	<h2>Image Uploading</h2>
	<h3>Folder Upload:</h3>
	<form action="/hostImages" method="POST" enctype="multipart/form-data">
		<input type="file" name="imageFolder" multiple webkitdirectory>
		<input type="submit">
	</form>
	<h3>Single File Upload:</h3>
	<form action="/hostImages" method="POST" enctype="multipart/form-data">
		<input type="file" name="imageFolder">
		<input type="submit">
	</form>
	<p>
		1. Select folder of downloaded images<br>
		2. Images are uploaded<br>
		3. Hosted links are returned<br>

	</p>
</body>
</html>
