<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
	<h1>Stacker Images</h1>
	<form action="/csvRead" method="POST" enctype="multipart/form-data">
		<input type="file" name="pic">
		<input type="submit">
	</form>
	<p>
		1. Upload csv file<br>
		2. Click on preferred image (blurry background or cropped)<br>
		3. List of image URLs updates<br>
	</p>
	<img src="https://s3.amazonaws.com/stacker-images/Dam_Panorama_FB.jpg" width="45%">
	<img src="https://s3.amazonaws.com/stacker-images/croppedDam_Panorama_FB.jpg" width="45%">
</body>
</html>