<html>
<head>
<title>PhotoStack</title>
<link rel="shortcut icon" href="https://thestacker.com/sites/default/files/favicon_0.ico" type="image/vnd.microsoft.icon">
<style type="text/css">
body{font-family: 'Fontawesome','Overpass',sans-serif,arial;}
</style>
</head>

<body>
<h1><a href='/'>Stacker Images</a></h1>
<table id='slideTable'>
    {% for slideTitles, link, slideBody in data %}
    <tr><td>{{ slideTitles }}</td><td>{{ link }}</td><td>{{ slideBody }}</td></tr>
    {% endfor %}
</table>
</body>
</html>
